body{font-family: 'Lato', 'FontAwesome', sans-serif;
padding-right:0px !important;
margin-right:0px !important;
}
span, ul, li, div, a{display:block;}
input, button, submit { border:none;}
input[type="text"], input[type="submit"]{-webkit-appearance: none; -moz-appearance: none; appearance: none;};
button:focus, input:focus {outline:0 !important;}
*
{
  margin:0; padding:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.map-section {
  width: 100%;
  height: 540px;
  background-color: #D3D3D3;
}

.loginsignupfooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /* Vertically center the text there */
  line-height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}

/*GENERAL*/

.divider{
  border: 0;
  height: 0;
  border-top: 1px solid #efefef;
}

.ease{
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.container-default{
  width:100%;
  background-color: #fafafa;
  padding: 50px 0;
  overflow: auto;
}

.container-responsive{
  width:100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}


/*FONT*/

.body-copy{
  font-size:13px;
  color: #444;
  line-height: 1.5;
}
.body-copy h2{
  font-size: 20px;
  color: #888;
  margin: 20px 0 20px 0;
}
.body-copy h1{
  font-size: 16px;
  color: #888;
  margin: 20px 0 20px 0;
}

.black-body{
  font-size:15px;
  color: #222;
}

/*PLACEHOLDER*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #ccc;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #ccc;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #ccc;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    #ccc;
}

.overflow{
  overflow: auto;
}

/*BUTTON*/
.button{
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 9px 15px 9px;
  font-size: 13px;
  height: 35px;
  min-width: 100px;

  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  display: inline-block;

  -webkit-transition: 100ms ease;
  transition: 100ms ease;
}

.button-red-outer{
  color: #444;
  border-color: #ff7c7c !important;
  border: 1px solid #ff7c7c !important;
}


.button:hover{
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.button-white{
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.button-white:hover{
  background-color: white;
  border: 1px solid white;
  color: #444;
}

.main-button{
  float:right;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  padding: 7px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 100ms ease;
  transition: 100ms ease;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #ff7c7c;
  color: white;

  font-size: 25px;
  height: 70px;
  width: 70px;
}

.main-button:hover{
  background-color: #ff5555;
  -webkit-transition: 100ms ease;
  transition: 100ms ease;
}


.container-main .modal-loginBtn{
  margin: 50px 12px 0 0;
  float: right;
}

.container-main .modal-registerBtn{
  margin: 50px 0;
  float: right;
}

.button-red{
  margin-top: 2.5px;
  background-color: #ff7c7c;
  color: white;
}

.button-red:hover{
  background-color: #ff5555;
}

.button-link{
  border-radius: 2px;
  font-size: 1.4rem;
  font-size: 15px;
  font-weight: 700;
  color: #888;
  border-bottom: 3px solid transparent;
  margin: 10px;
  padding: 5px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  display: inline-block;

  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.button-link:hover, .button-link:active, .button-link.active{
  border-bottom: 3px solid #ff5555;
  color: #ff5555;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.form{
  width: 100%;
  height: 50px;
  border-radius: 2px;
  left:0;
  right:0;
  margin: 0 auto;
  padding: 20px;
  font-size: 13px;
  border: 1px solid #eee;
  transition: border linear 0.2s;
  -ms-transition: border linear 0.2s;
  -webkit-transition: border linear 0.2 s;
}

.form:focus{
  border: 1px solid rgb(255, 85, 85);
  transition: border linear 0.2s;
  -ms-transition: border linear 0.2s;
  -webkit-transition: border linear 0.2 s;
}

#login-button{
  margin-right: 3px;
}


.loader {
  z-index: 1;
  margin:50px auto;
  border: 10px solid #eee;
  border-radius: 50%;
  border-top: 10px solid #ff7c7c;;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 0.5s ease infinite;
  animation: spin 0.5s ease infinite;
}

.img-loader{
  display:none;
  text-align: center;
  z-index: 1;
  margin:50px auto;
  border: 3px solid #eee;
  border-radius: 50%;
  border-top: 3px solid #ff7c7c;;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 0.3s ease infinite;
  animation: spin 0.3s ease infinite;
}

.view-delete-form{
  float:right;
}

.delete-fav{
  cursor: pointer;
  position: absolute;
  font-size:24px;
  color:white;
  right:15px;
  top:5px;
  background-color:transparent;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.delete-fav:hover{
  color:#ff7c7c;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.delete-carpark{
  cursor: pointer;
  position: absolute;
  font-size:24px;
  color:white;
  right:15px;
  top:5px;
  background-color:transparent;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;

}

.delete-carpark:hover{
  color:#ff7c7c;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
