/*MODAL*/
.modal{
  display:none;
  position: fixed;
  top:0;
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:15;
  padding: 12px;
}

.modal-container{
  background-color:white;
  margin: 100px auto;
  width: 350px;
  border-radius: 2px;
  padding: 50px 24px 50px;
}

.modal-login form{
  width:100%;
}

.modal-login-h{
  font-size: 24px;
  font-weight: 600;
  color: #444;

  text-align: center;
  width:100%;
  margin-bottom: 10px;
}

.modal-register-text{
  font-size:13px;
  color: #888;
  text-align:center;
}

.modal-link, .modal-link:active, .modal-link:visited {
  cursor: pointer;
  font-size:13px;
  color: #888;
  text-align:center;
  text-decoration: none;
}

.modal-link:hover{
  color: #444;
}

.modal-error{
  font-size:13px;
  color: #ff7c7c;
  margin: 5px 0 10px 0;
  text-align:center;
}

.modal-form{
  width:100%;
  padding:10px;
  height:50px;
  margin-bottom: 5px;

  border-radius: 2px;
  border: 1px solid #eee;

  transition: border linear 0.2s;
  -ms-transition: border linear 0.2s;
  -webkit-transition: border linear 0.2 s;
}

.modal-form:focus{
  border: 1px solid #ff7c7c;
  transition: border linear 0.2s;
  -ms-transition: border linear 0.2s;
  -webkit-transition: border linear 0.2 s;
}


.modal-login-cfm{
  border-radius: 2px;
  font-size: 16px;
  font-weight: 700;
  padding: 9px 15px 9px;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;

  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  display: inline-block;

  -webkit-transition: 100ms ease;
  transition: 100ms ease;
}

#modal-registerlink, #modal-loginlink, #modal-forgotPwBack{
  margin-bottom: 20px;
}

#modal-register{
  display: none;
  max-width:550px;
  width:100%;
  overflow: auto;
}

.form-left{
  float:left;
  width: calc(50% - 5px);
  margin-right:5px;
}

.form-right{
  width: calc(50% - 10px);
float:right;
}

#modal-login{
  display: none;
}
