/*RESULTS*/
.container-results{
  min-height:100vh;
  width:100%;
  background-color: #fafafa;
  padding: 50px 0;
  overflow: auto;
}

.results-container{
  margin-bottom:50px;
  overflow: auto;
}

.load{
  display: none;
}

.results-btn-row{
  text-align: center;
}

#res-carpark-cont, #res-food-cont{
  overflow-x: auto;
}

.res-single{
  margin-top:8px;
}

.res-row-food{
  background-color: white;
  margin-bottom: 20px;
  border-radius: 5px;
  width: calc((100% - 40px) / 3);
  float:left;
  height:450px;
  position: relative;
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
}

.res-food{
  padding:20px;
}

#result-divider{
  margin: 20px 0 50px 0;
}

.res-food-img{
  border-radius: 5px;
  top:0;
  height:200px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.res-food-img:hover{
  opacity: 0.8;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.carpark-img{
  background-image: url("../images/carpark.jpg");
  height:300px;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  opacity: 0.6;
}

.res-food-img img{
  width:100%;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.res-row-food:nth-child(3n+1), .res-row-food:nth-child(3n+2){
  margin-right:20px;
}

.res-row-carpark{
  padding:30px;
  background-color: white;
  margin-bottom: 10px;
  border-left: 3px solid #444;
  border-radius: 2px;
  position: relative;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  text-decoration: none;
}

.res-row-carpark:hover{
  border-left: 9px solid #efefef;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}


.results-header{
  font-size: 16px;
  font-weight:700;
  color: #444;
  text-decoration: none;
  margin-bottom: 30px;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.res-more{
  position: absolute;
  bottom:20px;
  right:20px;
  font-size:12px;
  text-decoration: none;
  font-weight: 700;
  color:#ff7c7c;
}

.res-more:hover{
  color:#ff5555;
}

.hide-overflow{
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.results-header:hover{
  color: #888;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.res-food-subheader{
  font-size:13px;
  width:100%;
  border-bottom: 1px solid #efefef;
  padding: 10px 0;
  margin-bottom:20px;
  color: #888;
}

.res-blocks{
  cursor: pointer;
  display:inline-block;
  padding:5px;
  margin-right:10px;
  overflow: auto;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-transition: 100ms ease;
  transition: 100ms ease;
  position: relative;
  border-radius: 2px;
  border-left: 3px solid #444;
  width:100%;
  text-decoration: none !important;

}

.res-blocks:hover{
  border-left: 6px solid #efefef;
  -webkit-transition: 100ms ease;
  transition: 200ms ease;
}

.res-lots{
  font-size:20px;
  float:left;
  margin: 5px 10px 5px 0;
}

.res-lots-carpark{
  font-size:20px;
  float:left;
  margin: -3px 10px 10px 0;
}

.res-lots-red{
  color:#ff3535;
}

.res-lots-orange{
  color:#ffa963;
}

.res-lots-green{
  color:#8de072
}

.res-block-green{
  border-left: 3px solid #8de072
}

.res-block-orange{
  border-left: 3px solid #ffa963;
}

.res-block-red{
  border-left: 3px solid #ff3535;
}

.res-name{
  font-size:14px;
  font-weight:700;
  color:#444;
}

.res-name-light{
  font-size:13px;
  font-weight:500;
  color:#888;
  margin-top:10px;
}

.res-dist{
  color: #888;
  font-size:12px;
}

#res-allFood{
  display:none;
}

.label-carpark{
  display:none;
}

.res-empty{
  font-size: 13px;
  color: #ff7c7c;
  text-align: center;
  font-weight: 700;

}

.res-saved{
  font-size: 15px;
  color: #ff7c7c;
  text-align: center;
  margin-bottom:10px;
  font-weight: 700;
}

.res-deleted{
  font-size: 15px;
  color: #ff7c7c;
  text-align: center;
  margin-bottom:50px;
  font-weight: 700;
}

.empty-result{
  width:100%;
  text-align: center;
  color:#ff7c7c;
}


.res-row{
  padding:60px 20px 60px;
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid #efefef;
  border-radius: 2px;
  text-align: center;
}

.res-row h{
  color: #ff7c7c;
  font-size:25px;
  font-weight:700;
}

.res-row .span-text{
  margin:20px auto;
  max-width:400px;
  font-size:13px;
  color: #888;
}

.span-text{
  font-size:13px;
  color: #888;
  text-align: center;
}

.results-total{
  text-align: center;
  margin-bottom:20px;
  font-size:13px;
  color:#888;
}

.res-wrapper{
  background-color: black;
  position: relative;
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  border-radius: 5px;
}

.food-img{
  height:300px;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  opacity: 0.6;
}

.res-wrapper h{
  color:white;
  font-size:30px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 0 20px;
  display: table-cell;
  vertical-align: middle;
  opacity: 0.9;
}

.res-wrapper-header{
  z-index: 5;
  height:300px;
  position: absolute;
  width: 100%;
  display: table;
}

.res-left-col{
  width:calc(70% - 10px);
  float:left;
}

.res-right-col{
  float:right;
  width:calc(30% - 10px);
}


.res-left-mod{
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 2px rgba(25,25,25,0.2);
  margin-right:10px;
  margin-bottom: 20px;
  overflow: auto;
}

.res-right-mod{
  border-radius: 5px;
  background-color: white;
  padding:20px;
  margin-bottom: 20px;
  overflow: auto;
}

.res-right-mod-wrap{
  margin-bottom: 20px;
}

#foodCarparkMap, #carparkMap{
  height:200px;
  width:100%;
}

.inline-text{
  display:inline-block;
  font-size:13px;
  color:#888;
}

.res-body{
  padding:50px 20px;
}

.res-add{
  font-size:15px;
  color:#888;
  text-align: center;
  padding-bottom:50px;
  border-bottom: 1px solid #efefef;
}

.page-arrow{
  border-radius: 2px;
  font-size: 1.4rem;
  font-size: 20px;
  font-weight: 700;
  color: #888;
  margin: 10px;
  padding: 5px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  display: inline-block;

  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.page-arrow:hover{
  color: #ff5555;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.res-add-small{
  font-size:13px;
  color:#888;
  text-align: left;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.res-lots-big{
  text-align: center;
  font-size:40px;
  font-weight: 700;
}

.res-no-review{
  font-size:13px;
  margin-top:30px;
  text-align: center;
  color:#888;
}

.button-wide{
  width: 100%;
}

#btn-save{
  margin-right:10px;
}


.demo-table {max-width: 200px;border-spacing: initial;margin: 20px auto;word-break: break-word;table-layout: auto;line-height:1.8em;color:#333;}
.demo-table th {background: #efefef;padding: 5px;text-align: left;color:#FFF;}
.demo-table td {border-bottom: transparent 1px solid;background-color: #ffffff;padding: 5px;font-size:13px;}
.demo-table td div.feed_title{text-decoration: none;color:#00d4ff;font-weight:bold;}
.demo-table ul{margin:0;padding:0;}
.demo-table li{list-style-type: none;display: inline-block;color: #F0F0F0;font-size:20px;}
.demo-table .highlight, .demo-table .selected {color:#ff7c7c;}

.review-wrapper{
  padding:20px;
}

.review-row{
  width:100%;
  max-width: none;
  margin: 0 0 20px 0;
  border-left: 3px solid #ff7c7c;
  padding: 10px 10px 10px 20px;
  position: relative;
  background-color: #fafafa;
  border-radius: 2px;
}

.review-name{
  margin-right: 10px;
  font-size:15px;
  font-weight: 700;
  color: #444;
}

.review-text{
  font-size:12px;
  color: #888;
  line-height:1.3;
}

.star-row{
  position: absolute;
  right: 10px;
  top: 5px;
}

.select-button{
  margin-bottom:10px;
}

.review-textarea{
  height:80px;
  padding: 10px;
  overflow-y: auto;
  width: 100%;
  border: 1px solid #efefef;
  resize:none;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  font-size:11px;

}

.review-textarea:hover, .review-textarea:active, .review-textarea:focus{
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  border: 1px solid #ff7c7c;
}
